.box-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-header-center {
    flex: 1;
}

.header-button {
    cursor: pointer;
}

.blinking {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
    opacity: 0;
    }
}